.shop-container {
  padding: 2rem;
  color: #fff;
  max-width: 1400px;
  margin: 0 auto;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Fixed 5-column layout */
  gap: 2rem;
  margin: 2rem 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 15vw;
}
