.limited-edition-section {
  padding: 2rem 0;
  margin: auto;
  width: 100%;
}

.seven-column-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.75rem;
  padding: 1rem 0;
}

.gradient-text {
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(90deg, #bb86fc, #8a2be2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
